/* footer */
.footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
  }
  .footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .footer-right{
    text-align: center;
  }
  .footer-row h1{
    margin: 10px 0;
  }
  .footer-row p{
    line-height: 35px;
  }
  .footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color: #A5723C;
    margin: 10px;
  }
  .footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left:50%;
    top: 35%;
    transform: translate(-50%,-50%);
  }
  .social-links{
    text-align: center;
  }
  .social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #A5723C;
    margin: 40px 5px 0;
    color: #A5723C;
    cursor: pointer;
    transition: .5s;
    border-radius: 100px;
  }
  .social-links .fa:hover{
    background: #A5723C;
    color: #fff;
    transform: translatey(-7px);
  }
  @media screen and (max-width:770px) {
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
  }